body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: none;
    width: 70%;
    border: 7px solid #ffffff;
    height: 20px solid #ffffff;
    font-family: sans-serif;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
}

p {
    border-left: 5px solid #777777;
    padding-left: 5px;
    color: rgb(239, 255, 215);
}

h1 {
    text-align: center;
    color: khaki;
}

h2 {
    color: rgb(224, 64, 112);
    font-size: 1.3rem;
}

.profile {
    color: lavender;
    border-left: 2px solid #eeeeee;
    margin: 30px;
    font-weight: 600;
} 

footer {
    color: lavender;
    text-align: center;
    background-color: slategrey;
    padding-bottom: 5px;
}